
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #202020;
  color: #fff;
  padding-top: 20px;
}


nav, section, footer {
  margin-bottom: 30px;
}

h1, h2, h3 {
  color: #fff;
}

h4 {
  color: red;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.btn {
  background: red;
  border-radius: 3px;
  color: #fff;
  padding: 4px 6px 4px 6px;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:after {
  content: ">>";
  margin-left: 10px;
}
.btn:hover {
  background: violet;
}


/* NAV */
.brand {
  float: left;
}

.nav {
  border-bottom: 1px solid red;
  padding-bottom: 5px;
}

.nav-list {
  float: right;
  list-style: none;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.nav-list-item {
  display: inline-block;
}

.nav-list-item-btn {
  color: #fff;
  padding: 2px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-list-item-btn:hover {
  color: red;
}

.nav-list-item-active {
  font-size: 1.5em;
}


/* PROMO */
.promo-image {
  border: 7px solid #fff;
}


/* CONTENT */
.content-area {
  background: #fff;
  color: #000;
}

.content-area h1, .content-area h2, .content-area h3 {
  color: #000;
}


.content-area {
  min-height: 700px;
  position: relative;
}

.content-text {
  padding: 20px;
  padding-right: 320px;
}

.content-sponsor {
  border-left: 1px solid #ccc;
  bottom: 20px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 20px;
  width: 300px;
}

.sponsor-list-item {
  display: block;
  text-align: center;
}


.companybrand {
  float: left;
}
.company-text {
  float: left;
  margin-left: 10px;
  margin-top: 30px;
}


@media screen and (max-width: 767px) {
  .content-text {
    padding-right: 20px;
  }
  .content-sponsor {
    position: static;
    width: auto;
  }
}
