
body {
  background: #202020;
  color: #fff;
  padding-top: 20px;
}

nav {
  margin-bottom: 30px;
}


.brand {
  float: left;
}

.nav {
  border-bottom: 1px solid red;
  padding-bottom: 5px;
}

.nav-list {
  float: right;
  list-style: none;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.nav-list-item {
  display: inline-block;
}

.nav-list-item-btn {
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-list-item-btn:hover {
  color: red;
}

.nav-list-item-active {
  font-size: 1.5em;
}

