
*, *:before, *:after {
  box-sizing: border-box;
}

@media screen and (min-width: 960px){
	.grid-container {
		width: 960px;
		margin: 0 auto;
	}
}


body {
	background-color: #272727;
	font-size: 0.9em;
	color: #fff;
}

.header {
	margin-top: 30px;
	border-bottom: 1px solid red;
}

.brand {
	float: left;
	margin-bottom: 8px;
}

.nav {
	float : right;
	right:0;
	color: #fff;
	list-style: none;
	margin-top:50px
}

.nav-item {
	display: inline-block;	
}

.nav-item-btn {
	text-transform: uppercase;
	padding: 5px 5px 5px 15px;	
}

.nav-item-active {
	font-size: 1.5em;
}


/** Promo **/

.promo, .content {
	margin-top: 30px;
}
.promo img {
	border: 7px solid #fff;
	width: 100%;
}
.promo-text {
	margin-left: 20px;
	margin-top: 70px;
	font-size: 1.1em;
}

/** Content **/

.content{
	background: #fff;
	color: black;
	position: relative;
}
.content-text {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 320px;
}
.content-sponsor {
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px solid black;
	width: 300px;
	padding-left: 20px;
	height: 100%;
	min-height: 400px;
}